# -----------------------------------------------
# 1. macOS / System
# -----------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

*~
*.swp
._*
.Spotlight-V100
.Trashes

# -----------------------------------------------
# 2. Xcode
# -----------------------------------------------

*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/

# Build
/Build/
/DerivedData/

# Debug Symbols
*.dSYM/

*.hmap
*.ipa
*.app

# -----------------------------------------------
# 3. Swift Package Manager (SPM)
# -----------------------------------------------

.build/
.swiftpm/

# -----------------------------------------------
# 3. Keys
# -----------------------------------------------

.env
